.header {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  min-height: 48px;
  border-bottom: 1px solid var(--color-border);
}
.headerHome {
  border: transparent
}
.desktopNav,
.desktopUser {
  display: none;
}

.userArea {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  gap: 8px;
}
.logoHome {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 768px) {
  .header {
    min-height: 56px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    min-height: 91px;
    
  }

  .desktopNav {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: 269px;
  }

  .desktopUser {
    display: inline-flex;
    align-items: center;
  }
}
