/* Заголовки */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-tight);
  color: var(--color-white);
}

h1,
h2 {
  font-size: var(--font-size-3_5xl);
}
h3 {
  font-size: var(--font-size-2xl);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: var(--font-size-6xl);
  }
  h2 {
    font-size: var(--font-size-4_5xl);
  }
  h3 {
    font-size: var(--font-size-2_5xl);
  }
}

/* Параграфи */
p {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);

  letter-spacing: var(--letter-spacing-tight);
  color: var(--color-white-40);
}
@media only screen and (min-width: 768px) {
  p {
    font-size: var(--font-size-base);
  }
}

/* Посилання */
a {
  font-size: var(--font-size-sm);
  color: var(--color-text-black);
  transition: var(--transition-base);
}

a:hover {
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  a {
    font-size: var(--font-size-base);
  }
}
@media only screen and (min-width: 1440px) {
  a {
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
}
