.financeSummary {
  display: flex;
  align-items: flex-start;
  gap: 19px;
  flex-wrap: wrap;
  margin-top: 66px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .financeSummary {
    gap: 40px;
    margin-top: 59px;
    justify-content: space-between;
  }
  .financeHeader {
    width: 570px;
  }
}
@media only screen and (min-width: 1440px) {
  .financeSummary {
    gap: 94px;
    flex-wrap: nowrap;
  }
  .financeHeader {
    width: 516px;
  }
}

.financeHeader {
  display: flex;
  align-items: start;
  gap: 20px;
  flex-direction: column;
}

.formModal {
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .formModal {
    max-width: 500px;
  }
}

.modalTransactionForm {
  max-width: 100%;
  padding: 40px 20px;
}

@media only screen and (min-width: 768px) {
  .modalTransactionForm {
    padding: 40px;
    max-width: 100%;
  }
}
