.wrapper {
  position: relative;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.input {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 12px 18px;
  width: 399px;
  height: 48px;
  background-color: var(--color-input-bg);
  outline: none;
  color: var(--color-white);
}

.input:hover,
.input:focus {
  border-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-white-40);
  line-height: var(--line-height-normal);
}

.toggle {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: var(--color-input-bg);
  border: none;
  cursor: pointer;
  stroke: var(--color-white);
}

/* .icon {
  fill: var(--color-white);
  stroke: var(--color-white);
} */
