.transationsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8;
}
/* для видалення */
.tableWrapper :global(.ag-theme-quartz) {
  --ag-foreground-color: rgba(250, 250, 250, 1);
  --ag-header-foreground-color: rgba(250, 250, 250, 0.4);
  --ag-color: #000;
  --ag-background-color: rgba(23, 23, 25, 1);
  --ag-header-background-color: rgba(0, 0, 0, 0.2);
}

.tableWrapper :global(.ag-root-wrapper) {
  border: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tableWrapper :global(.ag-header-cell),
.tableWrapper :global(.ag-header-group-cell) {
  border-right: none;
}

.tableWrapper :global(.ag-header) {
  border-bottom: none;
}

.tableWrapper :global(.ag-cell) {
  border: none;
}
