.wrapper {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: start;
  margin-top: 29px;
}

.imageContainer {
  width: 335px;

  height: 381px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 10px;
  }

  .imageContainer {
    width: 704px;
    height: 482px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-top: 0px;
  }

  .imageContainer {
    width: 611px;
    height: 568px;
  }
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
